.element__btn-like {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 21px;
  min-width: 21px;
  height: 19px;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .4s linear;

  background-image: url(../../../images/icons/icon-heart.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.element__btn-like:hover {
  cursor: pointer;
  opacity: .6;
}
