.form__btn-save {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 358px;
  height: 50px;
  background-color: #000;
  border: 0 solid #000;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: background-color .4s linear;
}

.form__btn-save:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 620px) {
  .form__btn-save {
    width: 200px;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
  }
}
